* {
    /* test if css is working */
    /* color:aqua */
    margin: 0;
    
    padding: 0;
}
:root{
    --pictureBorder: rgb(164, 212, 228);
    --textColor: rgb(54, 107, 121);

}



header {
    display: flex;
    justify-content: space-between;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}

header h1 {
    font-size: 48px;
    background-color: rgb(20, 143, 143);
    padding-left: 100px;
    margin: 15px -0px;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 20px ;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

figure{
    position: relative;
}

figure img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;

    
}
figure h3 {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background-color: var(--pictureBorder);
    font-size: 200%;


}

.test{
background;
}

main {
    
}


main section {
    display: flex;
    padding: 10px;

}

main section h3 {
    width: 20%;
    text-align: right;
    margin-right: 10px;
    font-size: 200%;
    border-right: 3px solid;
    padding-right: 10px;

    color: var(--textColor);
    border-color: var(--textColor);

}

main section > span {
    width: 80%;
    height: fit-content;

}
main section span > p {
    width: 80%;
    text-align: left;
    color: var(--textColor);
}

.picture {
    position: relative;
}

.picture img {
    border: 4px solid var(--pictureBorder);
    opacity: 60%;
}
.picture img:hover {
    opacity: 100%;
}

.picture h2 {
    position: absolute;
    font-size: 2.5vw;
}

.picture h2, .picture img {
    background: var(--pictureBorder);
    font-weight:bold;
}

.bigPicture {
    width: calc(80%);
    aspect-ratio: 16 / 4;
    object-fit: cover;
    text-align: center;
}

.smallPictureL,.smallPictureR {
    aspect-ratio: 16 / 6;
    object-fit: cover;
    width: 37.5%;
    margin-top: 2.5%;
}

.smallPictureL{
    margin-right: calc(2.5% - 6px);
    margin-left: 0;
}

.smallPictureR{
    margin-left: calc(2.5% - 6px);
    margin-right: 0;
}

.leftCap {
    bottom: 25px;
    left: 4px;
}
.rightCap {
    bottom: 25px;
    left: calc(42.5% + 4px );
}


.contactMe span ul  {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 80%;
}

